#achievements {
    scroll-margin-top: 100px;
}

.achievement {
    width: min(1200px, 100%);
    margin: 5rem auto;
    padding-inline: 2rem;
}

.achievement-header {
    text-align: center;
    margin-bottom: 3rem;
}

.achievement-header span {
    color: var(--aqua);
    letter-spacing: 2px;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.achievement-header h2 {
    font-size: 2rem;
    font-weight: 800;
}

.series {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.series::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ffffff14;
    transform: translateX(-50%);
}

.series-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.series-title i {
    color: var(--aqua);
}

.series-item {
    position: relative;
    margin-bottom: 2rem;
}

.year {
    display: inline-block;
    color: var(--aqua);
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.series-card {
    height: 120px;
}

.series-card h3 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}

.series-card p {
    font-size: 1rem;
    color: var(--des);
    line-height: 1.7;
}

@media (max-width: 768px) {
    .qualification {
        width: 100%;
        padding-inline: 1rem;
    }

    .qualification-header {
        margin-bottom: 3rem;
    }

    .series {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .series::before {
        display: none;
    }

    .series-title,
    .series-title.left,
    .series-title.right {
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .series-card {
        padding: 1rem;
    }
}