.qualification {
    width: min(1000px, 80%);
    margin: clamp(4rem, 8vw, 8rem) auto;
    padding-inline: clamp(1rem, 3vw, 2rem);
}

.qualification-header {
    text-align: center;
    margin-bottom: 5rem;
}

.qualification-header span {
    display: block;
    color: var(--aqua);
    letter-spacing: 2px;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.qualification-header h2 {
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 800;
}

.timeline {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ffffff14;
    transform: translateX(-50%);
}

.timeline-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.timeline-title i {
    color: var(--aqua);
}

.timeline-item {
    position: relative;
    margin-bottom: 1.5rem;
}

.timeline-card {
    background: #ffffff05;
    border: 1px solid #ffffff14;
    border-radius: 1.25rem;
    padding: 2rem;
    transition: 0.3s;
}

.timeline-card:hover {
    transform: translateY(-5px);
    border-color: #00d1d150;
}

.education .timeline-item::after {
    right: -47px;
}

.courses .timeline-item::after {
    left: -47px;
}

.year {
    display: inline-block;
    color: var(--aqua);
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.timeline-card h3 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.timeline-card p {
    font-size: 0.7rem;
    color: var(--des);
    line-height: 1.7;
}

@media (max-width: 768px) {

    .qualification {
        width: 100%;
        padding-inline: 1rem;
    }

    .qualification-header {
        margin-bottom: 3rem;
    }

    .timeline {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .timeline::before {
        display: none;
    }

    .timeline-title,
    .timeline-title.left,
    .timeline-title.right {
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .timeline-item::after {
        display: none;
    }

    .timeline-card {
        padding: 1.5rem;
    }
}